.header-container{ 
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    background-color: grey;
}
.gtd-banner-container{
    position: relative;
    width: 100%;
}
.gtd-banner-text{
    position: absolute;
    top: 100px; 
    left: 350px; 
    width: 100%;
    color: grey;
    font-size: 100px;
}
.image-container{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    top: 435px; 
    right: 10px; 
    width: 100%;
    
}
.text-container{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
h1{
    font-size: 70px;
    color: #FFD700;
}
