.header-container{ 
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    padding-top: 5px;
}
.gtd--logo{
    padding-right: 100px;
}
.search--box{
    background-color: #333131;

}
.gtd-banner-container{
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url('../images//gtdBannerImage.jpg');
}
.gtd-banner-text{
    text-align:center;
    color: grey;
    font-size: 100px;

}
.image-container{
    position: relative;
    display: flex;
    padding-right: 200px;
    padding-left: 350px;
    top:-100px;
}
.image-items{
    flex:1;
}
h1{
    font-size: 70px;
    color: #FFD700;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.paragraph-container{
    display: flex;
    justify-content: center;
}
p{
    max-width:800px;
    border: 0px;
    margin: 20px;
    font-size: 20px;
    padding-left: 50px;
}
.contact-container{
    display: flex;
    justify-content:space-evenly;
    padding:20px;
    width:100%;
}
.contact-items{
    
    padding-top: 20px;
    position: relative;
    width:50%;
    padding-left: 250px;
}
.contact-name{
    position: absolute;
    top:100px;
    padding-left: 50px;
    color: #FFD700;
}
.subline-text{
    position: absolute;
    top:115px;
    padding-left:250px;
}
.subline-contact{
    position: absolute;
    top:130px;
    padding-left:250px;
}
.footer-container{
    display: flex;
    background-color: grey;
    justify-content: space-evenly;
    border-top: 5px solid #FFD700;
}
.list-name{
    color: #FFD700;
}
.team-names{
    padding-top:1px;
    list-style: none;
    color: white;
}
    

