body{
    padding: 0px;
    margin: 0px;
}
.row-images{
   
}
.image-items{
    width:50%;
    height: 50%;
  position: relative;
  filter: grayscale(100%);
}
.image-items:hover{
    filter: blur(4px);
}
.image-name{
    position: absolute;
    top: 100px;
    left: 60px;
    color: white;
    font-size: 20px;
    
}