body{
    padding: 0px;
    margin: 0px;
}
.header-container{
    display: block;
    text-align: center;
}
.logo{
    font-family: fontawesome;
    text-decoration: none;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    top: 17px;
}
.logo a:hover{
   color: green;
}
.header-text-container h1{
    font-family: 'Segoe UI',Arial,sans-serif;
    color: black;
    font-size: 15px;
    top: 17px;
    padding-top: 10px;
}
@media screen and (min-width: 992px){
    .header-container{
        display: flex;
        justify-content: space-between;
        padding: 20px 16px 0.15px;
    }
    .bi-justify{
        display: none;
    }
    .nav-large-items{
        font-size: 22px;
        padding: 11px 15px 13px;
        color: white;

    }
}
.section-container{
    background-color: grey;
}
@media screen and (max-width: 992px){
.nav-large-items{
    display: none;
   }
}
.nav-items{
    font-size: 22px;
    padding: 11px 15px 13px;
    color: white;
   }
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-items-container{
    display: flex;
}
.nav-right-items-container{
    display: flex;
}
.react-heading{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0px;
    padding-left: 30px;
    color: #000000;
}
.button-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 30px;
}
.btn{
    background-color: #4CAF50;
    color: white;
}
.react-intro{
    background-color: #d4edda;
    padding: 8px 30px;
}
.react-intro p{
    font-size: 15px;
}

