body{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.nav-list ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}
li a{
     padding: 14px 16px;
     color: white;
     text-decoration: none;
}
.nav-container >.dropdown-items>li{
    flex-basis: 20%x;

}
.dropdown-items{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.hello-container h1{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0px 0px 8px;
}
.intro-container{
    background-color:lightgray;
    padding: 20px 50px 40px 50px;
    margin: 0px;
}
.intro-container p{
    margin: 0px 0px 16px;
}
.heading-container{
    display: flex;
    padding-top: 50px;
    padding-left: 50px ;
    margin-right: 10px;
}
.heading-items{
    flex: 1;
}
.heading-item{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    margin: 0px 0px 8px;
}
.footer-container{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0px;
    border-top: 1px solid lightgray;
}
.footer-container p{
    padding: 20px 0px 20px 0px;
}



.heading-container{
    display: none;
}


@media screen and (min-width: 768px) {
    .heading-container{
        display: flex;
    }
}